{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Cors": {
    "AllowOrigin": "*"
  },
  "appSettings": {
    "hash_key": "850c6f38-36a4-4777-8d75-07718ec34926",
    "jwt_secret": "this is my custom Secret key for authentication",
    "db": "server=localhost;port=3306;user=root;password=popo1001;database=shop;charset=utf8mb4"
  }
}
